/* DocumentStatus.css */

.status {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s ease;
}

.status.approved {
    background-color: #4caf50; /* Green */
}

.status.pending {
    background-color: #ff9800; /* Orange */
}

.status.rejected {
    background-color: #f44336; /* Red */
}

@media (max-width: 600px) {
    .status {
        font-size: 12px;
        padding: 8px 16px;
    }
}

.document-status-container {
    margin-top: -20px; /* Ajuste conforme necessário */
}