/* DocumentStatus.css */

.status {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s ease;
}

.status.approved {
    background-color: #4caf50; /* Green */
}

.status.pending {
    background-color: #ff9800; /* Orange */
}

.status.rejected {
    background-color: #f44336; /* Red */
}

@media (max-width: 600px) {
    .status {
        font-size: 12px;
        padding: 8px 16px;
    }
}

.document-status-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.document-status-container {
    margin-top: -20px; /* Ajuste conforme necessário */
    text-align: center;
    padding: 20px;
    background-color: #a00ee99b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-bottom: 5px; /* Adicionado para diminuir a distância entre os containers */
}

.documents-list-container {
    margin-top: 20px;
    width: 100%;
    max-width: 800px; /* Aumentado de 600px para 800px */
}

.area-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.area-selection select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.area-selection button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 18px; /* Adicionado para subir levemente mais o botão */
}

.area-selection button:hover {
    background-color: #0056b3;
}

.back-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3;
}

.documents-list {
    margin-top: 20px;
}

.document-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.document-info {
    flex: 1;
}

.status-indicators {
    display: inline-flex; /* Alterado de flex para inline-flex */
    align-items: center;
    margin-left: 10px; /* Adicionado para espaçamento entre o nome e a bolinha */
}

.status-dot {
    width: 20px; /* Aumentado de 10px para 20px */
    height: 20px; /* Aumentado de 10px para 20px */
    border-radius: 50%;
    margin-right: 10px; /* Alterado de margin-left para margin-right */
}

.status-dot.green {
    background-color: #4caf50;
}

.status-dot.orange {
    background-color: #ff9800;
}

.status-dot.red {
    background-color: #f44336;
}

.status-indicators span {
    margin-left: 10px;
    font-weight: bold;
    color: black; /* Adicionado para mudar a cor do texto para preto */
}